DATABASE_URL=postgresql+asyncpg://vitals:vitals_dev@localhost:5432/vitals_db

CORS_ORIGINS=http://localhost:3000
ENVIRONMENT=development
SECRET_KEY=your_secure_secret_key_here
SMS_GATEWAY_LOCAL_URL= ""
SMS_GATEWAY_USERNAME=""
SMS_GATEWAY_PASSWORD=""
SMS_CONFIRMATION_RECIPIENT=""
ADMIN_USERNAME=admin
ADMIN_PASSWORD_PLAINTEXT=""